body {
  font-family: sans-serif;
  text-align: center;
  background: #111;
  color: white;
}

.video-container {
  position: relative;
  display: inline-block;
}

video {
  width: 90%;
  max-width: 400px;
}

#subtitles {
  position: absolute;
  bottom: 10%;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 6px black;
  pointer-events: none;
}
